.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

files
*.zip
*.class
*.iml

*.jar

.idea

target

**/target

node_modules

/.idea/workspace.xml
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

**/.flattened-pom.xml
*.class
/noteflow_front/doc/
